gmon.out
*.dat
test_arakawa_host
test_arakawa_device
test_derivs_host
test_derivs_device
test_dtype_host
test_dtype_device
test_laplace_host
test_laplace_device
test_slab_host
test_slab_device
test_stiff_host
test_stiff_device
includes
